/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes button {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
@keyframes arrow {
  from {
    margin-inline-start: -20px;
  }
  to {
    margin-inline-start: -24px;
  }
}

.like-icon .heart {
  transform-origin: center;
}
.heart .main-body {
  opacity: 0;
  fill: var(--color-contour);
  transition: opacity 0.3s 0.05s;
}

.contour {
  fill: var(--color-contour);
}
.core {
  opacity: 0;
  fill: var(--color-contour);
  transition: opacity 0.3s 0.03s;
}
.sparks {
  opacity: 0;
}

.heart .main-body:hover {
  opacity: 1;
}
.heart .core:hover {
  opacity: 1;
}

.heart .contour:active {
  fill: var(--color-heart-main);
  transition: fill 0.3s 0.06s;
}
.heart .main-body:active {
  fill: var(--color-heart-main);
  transition: fill 0.3s 0.05s;
}
.heart .core:active {
  fill: var(--color-heart-main);
  transition: fill 0.3s 0.03s;
}

.like-icon.is-liked .heart {
  animation: swell 0.3s 0.1s ease-in 1 alternate;
}
.like-icon.is-liked .contour {
  fill: var(--color-heart-main);
  transition: fill 0.3s 0.06s;
}
.like-icon.is-liked .core {
  fill: var(--color-heart-main);
  transition: fill 0.3s 0.003s;
}
.like-icon.is-liked .main-body {
  fill: var(--color-heart-main);
  transition: fill 0.3s 0.5s;
}

.like-icon.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate-reverse;
}

@keyframes swell {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
