/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  --master-font: 'Inter-Variable', sans-serif;
}

@supports (font-variation-settings: normal) {
  body {
      font-family: 'Inter-Variable', sans-serif;
  }
} 

.header{
  inline-size: 375px;
  block-size: 667px;
  display: flex;
  margin: 0px auto;
  color: var(--main-color);
  font-family: var(--accent-font);
  background-image: var(--background-image);
  background-size: cover;
 
}
.header__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 25px 2px;
  border: 2px solid var(--main-color);
  background-color: var(--background);
}
.header__title{
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  place-items:center;
}
.favicon-title{
  padding-block-start: 120px;
  padding-block-end: 20px;
  font-size: 49px;
}
.theme-menu__list{
  display: flex;
  flex-direction: column;
  padding-block-start: 25px;
  align-items: start;
  padding-inline-start: 154px;
}
.theme-menu__item{
  font-size: 14px;
  text-transform: uppercase;
}
.theme-menu__button{
  text-transform: uppercase;
  padding-block-start: 14px;
}

/*  
блок с карточками 
*/
.main{
  inline-size: 100%;
  margin: auto;
  inline-size: 375px;
  block-size: 667px;
}
.cards {
  border: 2px solid #000;

}
.card {
}
.card__title {
  font-family: var(--master-font);
  font-size: 18px;
  font-weight: bold;
  padding: 4px 10px 6px;
}
.card__image {
  position: relative;
  margin: 0px;
  block-size: 375px;
}
.card__img {
  inline-size: 100%;
  block-size: 100% ;
}
.card__lable {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;

}
.card__description {
  font-family: var(--master-font);
  font-size: 18px;
  padding: 25px 60px 25px 25px;
}
.card__paragraph {
}
.card__quote {
  margin-block-start: 27px;
}
.card__interaction {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin-inline-end: 25px;
}
.like-icon {
}
.card__like-button {
  inline-size: 130px;
  block-size: 28px;
  border: 2px solid #000;
}
.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
}

