/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --master-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P-Regular', sans-serif;
  --font-weight-title: 700; /*785*/
  --font-weight-paragraph: 400; /*465*/
  --main-color:  rgb(0, 0, 0);
  --text-shadow: rgb(225, 225, 225);
  --background:  rgb(255, 255, 255);
  --background-image: repeating-linear-gradient(270deg, #d3d3d3 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3 2px, transparent 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --width-layout: clamp(23.438rem, 0rem + 100vw, 90rem);
  --width-content: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    color-scheme: light dark;
}
